/* You can add global styles to this file, and also import other style files */
nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

body.my-light-mode {
    --background-color: #ccf0ea;
    --text-color: #0d0e0f;
}

body.my-dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    font-family: Tahoma;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

h1,
p {
    margin: 1em auto;
    text-align: center;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}